body {
  background-color: #000000a4;
  margin: 0;
}

html{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
